.dashed {
  position: relative;
  border-radius: 490px;
  height: 490px;
  flex-shrink: 0;
  border: 2px dashed #504f4f;
  width: 490px;
  background: rgba(41, 41, 41, 0);
  border-spacing: 8px;
}

.solid {
  position: absolute;
  border-radius: 490px;
  border: 2px solid #504f4f;
  background: rgba(217, 217, 217, 0);
  width: 490px;
  height: 490px;
  flex-shrink: 0;
}

.solid:nth-child(1) {
  top: 2/1;
  left: 500px;
}

.solid:nth-child(3) {
  top: 2/1;
  left: -310px;
}
