/* 스크롤바 */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
  height: 8px; /* 수직 스크롤바 높이 */
}

/* 스크롤바의 트랙(바깥 영역) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 트랙 배경색 */
}

/* 스크롤바의 색상 */
::-webkit-scrollbar-thumb {
  background: #888; /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바 모서리 둥글기 */
}

/* 스크롤바 hover 상태 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 스크롤바 hover 시 색상 변경 */
}
